*, *:before, *:after {
    box-sizing: border-box;
}

html,body {
    background: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    margin:0;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container {
    width:200px;
}

.objects {
    height:50px;
    border-right: 4px solid gray;
    border-left: 4px solid gray;
    overflow: hidden;
}

.bar {
    position: relative;
    margin-top: 10px;
    left:-200px;
    width:100%;
    height:30px;
    background: #fa8541;
    box-shadow:0 0 4px 1px #fa8541, 00 7px #fa8541,0 0 7px #fa8541;
    animation: move 1.5s infinite cubic-bezier(.75, 0, .25,1);

}

.text {
    opacity: 1;
    margin-top:-30px;
    width:100%;
    height:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    letter-spacing: 5px;
    text-align: center;
    color:#fa8541;
    text-shadow: 0 0 5px #fa8541, 0 0 5px #fa8541,
    0 0 5px #fa8541, 0 0 5px #fa8541, 0 0 5px #fa8541;
    animation: fade 1.5s infinite cubic-bezier(.75,0,.25,1);

}

@keyframes move {
    0% {transform:translateX(0); }
    100% {transform:translateX(400px);}
}
@keyframes fade {
   0%, 100% {opacity:1; }
   10% {opacity:1; }
   50% {opacity:0; }
   90% {opacity:1 }
}